<div class="footer-dark">
  <footer>
    <div class="container pt-5">
      <div class="row mb-5 pb-5">
        <div class="col-md-4 col-sm-12">
          <img class="mb-3" src="assets/img/logo.png" alt="..." width="140" />
          <p class="text-small text-muted">
            Auf Kundenwunsch bieten wir die Planung der gesamten Haustechnik -
            also Heizung, Lüftung, Sanitär- und Elektrotechnik - aus einer Hand
            an.
          </p>
        </div>
        <div class="col-md-4 col-sm-12">
          <h5 class="mb-4 mt-3">Service</h5>
          <ul class="list-unstyled">
            <li><a class="reset-anchor text-primary" href="#">Beratung</a></li>
            <li><a class="reset-anchor text-primary" href="#">Planung</a></li>
            <li>
              <a class="reset-anchor text-primary" href="#">Projektierung</a>
            </li>
            <li>
              <a class="reset-anchor text-primary" href="#">Bauüberwachung</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-12">
          <h5 class="mb-4 mt-3">Newsletter</h5>
          <p class="text-small text-muted">
            Abonnieren Sie unsere Newsletter. Bleiben Sie mit unseren
            Newsletters auf dem aktuellen Stand zu unseren Veranstaltungen und
            Projekten.
          </p>
          <div class="input-group">
            <input
              class="form-control border-dark text-white rounded-0 bg-none"
              type="search"
              placeholder="Deine E-mail-Adresse"
              aria-label="email address"
              aria-describedby="button-addon2"
            />
            <button
              class="btn btn-primary px-4"
              id="button-addon2"
              type="submit"
            >
              <i class="fas fa-paper-plane"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="py-4 border-top border-dark text-center">
        <div class="col item social">
          <a href="#"><i class="icon ion-social-facebook"></i></a>
          <a href="#"><i class="icon ion-social-twitter"></i></a>
          <a href="#"><i class="icon ion-social-youtube"></i></a>
          <a href="#"><i class="icon ion-social-instagram"></i></a>
        </div>
        <p class="copyright">M&K Elektroplanung GmbH © {{ anio }}</p>
      </div>
    </div>
  </footer>
</div>
