<!-- navbar-->
<header class="header" >
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top shadow" id="navbar">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-none d-lg-block px-5">
          <li class="nav-item m-0">
            <a class="navbar-brand m-0 " (click)="exit()" >
              <img ngSrc="assets/img/logo.png" alt="..." width="50" height="35"/>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" >Startseite </a>
          </li>


          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDarkDropdownMenuLink1"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Service
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink1"
            >
              <a class="dropdown-item" [routerLink]="['/beratung']">Beratung</a>
              <a class="dropdown-item" [routerLink]="['/planung']">Planung</a>
              <a class="dropdown-item" [routerLink]="['/projektierung']">Projektierung</a>
              <a class="dropdown-item" [routerLink]="['/bauüberwachung']">Bauüberwachung</a>
            </ul>
          </li>


          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/referenzen']">Referenzen</a>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDarkDropdownMenuLink3"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Unternehmen
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink3"
            >
              <a class="dropdown-item" (click)="onClick('team')">Über uns</a>
              <a class="dropdown-item" [routerLink]="['/jobs']">Karriere</a>
              <a class="dropdown-item" [routerLink]="['/']">Impressum</a>
              <a class="dropdown-item" [routerLink]="['/']">Datenschutzerklärung</a>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onClick('contact')">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
