<!-- navbar-->
<header class="header">
  <nav
    class="navbar navbar-expand-lg navbar-dark position-absolute w-100"
    id="navbar"
  >
    <div class="container">
      <a class="navbar-brand d-block d-lg-none" href="#!">
        <img src="assets/img/logo.png" alt="..." width="60" />
      </a>
      <button
        class="navbar-toggler navbar-toggler-end"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span></span><span></span><span></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-none d-lg-block px-4">
          <li class="nav-item m-0">
            <a class="navbar-brand m-0" (click)="exit()"
              ><img src="assets/img/logo.png" alt="..." width="80"
            /></a>
          </li>
        </ul>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="exit()">Startseite</a>
          </li>


          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDarkDropdownMenuLink1"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Service
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink1"
            >
              <a class="dropdown-item" href="#">Beratung</a>
              <a class="dropdown-item" href="#">Planung</a>
              <a class="dropdown-item" href="#">Projektierung</a>
              <a class="dropdown-item" href="#">Bauüberwachung</a>
            </ul>
          </li>


          <li class="nav-item">
            <a class="nav-link" (click)="onClick('referenzen')">Referenzen</a>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDarkDropdownMenuLink3"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Unternehmen
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink3"
            >
              <a class="dropdown-item" (click)="onClick('team')">Über uns</a>
              <a class="dropdown-item" (click)="onClick('karriere')">Karriere</a>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onClick('contact')">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
