<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h3 class="heading-section">Für unser Büro in Lichtenstein / Sa. suchen wir einen</h3>
      </div>
    </div>
    <div class="row">
      <h4 class="text-primary">Projektingenieur (m/w)</h4>
      <b>im Bereich Elektroplanung / Bauüberwachung</b>
      <p class="mb-4">
          DAS SIND IHRE AUFGABEN:
      </p>
      <p class="mb-4">
          Für die Betreuung von Bauprojekten von der ersten Planung über die Ausschreibung und Vergabe der elektrotechnischen Leistungen bis zur Überwachung der Realisierung suchen wir einen Projektingenieur.
      </p>
      <ul class="mb-4">
        <li>Sie planen elektrotechnische Anlagen gemäß Erfordernissen und Budget in Gebäuden und für Außenanlagen</li>
        <li>Sie stimmen sich mit Architekten, Fachplanern anderer Gewerke sowie dem Bauherren regelmäßig ab</li>
        <li>Sie erstellen produktneutrale Ausschreibungen nach VOB und VOL</li>
        <li>Sie unterstützen Bauherren bei der Auswertung von Angeboten sowie der Vergabe von Leistungen</li>
        <li>Sie überwachen die Realisierung der Projekte vor Ort</li>
        <li>Die Budgetverfolgung und das Nachtragsmanagement gehören ebenfalls zu Ihren Aufgaben</li>
        <li>Sie stellen die Einhaltung von relevanten Normen und Regularien nach VDE und DIN sicher</li>
        <li>Sie übernehmen die Verantwortung für die technische Leitung und Bearbeitung einzelner Projekte</li>
      </ul>
      <p class="mb-4"> DAS WÜNSCHEN WIR UNS: </p>
      <p class="mb-4">
          Sie sind Ingenieur der Fachrichtung Elektrotechnik, mit elektrotechnischem Schwerpunkt oder besitzen eine vergleichbare Qualifikation, sind flexibel und haben Spaß an neuen Herausforderungen.
      </p>
      <ul class="mb-4">
        <li>Sie haben bereits erste Erfahrungen mit OpenBIM oder einem CAD-Programm gesammelt</li>
        <li>Ebenfalls verfügen Sie über Kenntnisse und Erfahrungen in der Anwendung von relevanten Regelwerken, Richtlinien, Normen und VDE-Vorschriften</li>
        <li>Sie haben einen selbstständigen und verantwortungsbewussten Arbeitsstil</li>
        <li>Sie besitzen einen Führerschein für PKW</li>
        <li>Sie haben bereits Erfahrungen und Erfolge in bereichsübergreifenden Projekten</li>
        <li>Kommunikations- und Präsentationsfähigkeit runden Ihr Profil ab</li>
      </ul>
      <p class="mb-4"> WER WIR SIND:</p>
      <p class="mb-4">
        Als inhabergeführtes Ingenieurbüro mit 4 Mitarbeitern erbringen wir seit 1991 Planungsleistungen gemäß der HOAI. Wir unterstützen mit unseren Dienstleistungen private und öffentliche Bauherren sowie die Industrie bei der Umsetzung von Sanierungen wie auch Neubauten. Die zunehmende Anzahl anspruchsvoller Aufgaben bestätigt uns in unserer Firmenphilosophie, jedes Bauprojekt zuverlässig, engagiert und mit Fachkompetenz zur Zufriedenheit der Bauherren zu realisieren.
      </p>
      <p class="mb-4"> DAS BIETEN WIR IHNEN:</p>
      <p class="mb-4">
        Mitarbeit in einem inhabergeführtem Ingenieurbüro mit gesicherter Nachfolgeregelung.
      </p>
      <ul class="mb-4">
        <li>abwechslungsreiches, breites und zukunftsorientiertes Aufgabenfeld</li>
        <li>Festeinstellung in Vollzeit mit leistungsgerechter Vergütung</li>
        <li>regelmäßige Weiterbildungsmöglichkeiten</li>
        <li>engagiertes, kollegiales und professionelles Team</li>
        <li>flexible Arbeitszeiten</li>
      </ul>
    </div>
    <app-contact-form></app-contact-form>
  </div>
</div>

